* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

/* Colors */
:root {
    --primary-color: #315EB0;
    --secondary-color: #5278BE;
    --light-color: #adcaff;
    --light-light-color: #e6ecff;
    --common-color: white;
    --normal-font-size: 1rem;
    --medium-font-size: 1.25rem;
    --big-font-size: 2rem;
}


/* Content styles */
.content {
    margin-top: 60px; /* Leave space for top-navbar */
    padding: 20px;
    transition: transform 0.3s ease; /* Smooth animation for content movement */
}

.content.shifted {
    transform: translateX(250px); /* Shift content when navbar is open */
}


.messages {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.message {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.message.success {
    background-color: #4CAF50; 
}

.message.error {
    background-color: #f44336;
}

.message.info {
    background-color: #2196F3;
}

.message.warning {
    background-color: #ff9800; 
}