.content{
    padding: 0;
    padding-top: 20px;
}

.member-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 350px;
    width: 80%;
}

.names {
    flex-grow: 1; 
    margin-right: 10px; 
}

.messagebtn, .remove {
    width: 60px;
    text-align: center;
}

/* .messagebtn {

} */

.messagebtn a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    color: var(--primary-color);
}

.header {
    text-align: center;
}

.remove-button {
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.give-admin-button {
    color: black;
}
.remove-admin-button {
    color: green;
}

.admin-button {
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.invite-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    width: 80%;
    margin: 10px auto;
}

.invite-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.invite-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.invite-input:focus {
    outline: none;
    border-color: var(--primary-color);
}