.content {
    padding: 0;
}

.messages-container {
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100vh;
    max-height: calc(100vh - 60px);
}

.group-members {
    overflow-y: scroll;
}

.group-members h2 {
    text-align: center;
    margin-top: 20px;
}

.member {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.member i {
    font-size: 30px;
    color: gray;
}

.messages-group {
    background-color: var(--light-light-color);
    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 60px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.message-list-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 10px;
    flex-grow: 1;
    overflow-y: auto;
    max-height: calc(100vh - 60px - 50px - 70px);
    padding: 10px;
}

.message-item {
    width: fit-content;
    padding: 10px;
    color: white;
    border-radius: 5px;
    margin: 0 20px;
    max-width: 50%;
}
.message-item pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
}

.sender {
    background-color: var(--secondary-color);
    align-self: flex-end;
}
.receiver {
    background-color: white;
    color: black;
}

.message-input {
    position: relative;
    bottom: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--light-light-color);
    width: 100%;
    z-index: 10;
}

.message-input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

.message-input textarea {
    padding: 10px;
    border: none;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
}

.message-input button {
    background-color: white;
    border: none;
    color: var(--primary-color);
    font-size: 20px;
    cursor: pointer;
    width: 50px;
}

.last-message-info {
    flex-grow: 1;
}

.last-message {
    word-break: break-all;
    max-width: 85%;
}

.message-input textarea:focus {
    outline: none;
}

.active {
    background-color: var(--light-light-color);
    border-left: solid 5px var(--primary-color);
}

.name-time {
    display: flex;
    justify-content: space-between;
}

.last-message-time {
    font-size: 12px;
    color: gray;
}

.unread-count {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 15px;
    padding: 5px 9px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
}

.new-messages {
    width: 100%;
    position: relative;
    margin: 30px 0;
}

.new-messages-text {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 20px;
    background-color: var(--light-light-color);
}

.toggleMobileButton {
    position: absolute;
    top: 70px;
    right: calc(100% - 10px);
    transform: translateX(100%) rotate(0deg);
    z-index: 100;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

.mobile-button {
    transform: translateX(0) rotate(180deg);
    right: calc(0% + 10px);
}

.message-name {
    position: sticky;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1150px) {

    .messages-container {
        grid-template-columns: 100%;
    }
    
    .group-members {
        position: absolute;
        bottom: 0;
        z-index: 11;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: white;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .toggleMobileButton {
        display: block;
    }

    .mobile {
        transform: translateX(0);
    }
}
