{% extends 'main.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/konva@8.3.13/konva.min.js"></script>
{% endblock %}

{% block content %}

<main class="content">
    <div class="">
        <div class="parent">
            <div class="welcome grid">
                <h1>Welcome to the Home Page</h1>
                <p>"Daily plan" are made automatically based on your preferences, to get your plan you must first make your schematic: Navigate the navbar and click make schematic. </p>
            </div>
            <div class="group grid">
                <h1>List of groups</h1>
                <div class="group-list">
                    {% for group in groups  %}
                        <a href="{% url 'set_active_group' group.id %}">{{group.name}}</a> <br>
                    {% endfor %}
                </div>
            </div>
            <div class="dailyplan grid">
                <h1>Daily plan</h1>
                <div class="dailyplan-list">
                    {% for plan in plans %}
                        <a href="{% url 'daily_plan' plan.id %}">{{ plan.name }}</a> <br>
                    {% endfor %}
                </div>
            </div>

            <div class="schematic grid">
                <h1>Your floor</h1>
                <div class="schematic-list">
                    {% for schem in schems %}
                        <div id="container" style="background-color: white;"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{% static 'js/home.js' %}"></script>
<script src="{% static 'js/view_schematic.js' %}"></script>


<script>

    {% for schem in schems %}
        var schematicData = {{ schem.schematic_json|safe }};
        importSchematic(schematicData);
    {% endfor %}
</script>


{% endblock %}