{% extends 'main.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/konva@8.3.13/konva.min.js"></script>
{% endblock %}

{% block content %}

<main class="content">
    <div class="container">
        <div class="parent">
            <div class="welcome grid">
                <h1><i class="fa-solid fa-house"></i> Welcome to the Home Page</h1>
                <p>"Daily plan" is made automatically based on your preferences. To get your plan, you must first make your schematic: Navigate the navbar and click "Make Schematic".</p>
            </div>
            <div class="group grid">
                <h1><i class="fa-solid fa-users"></i> List of Groups</h1>
                <div class="group-list">
                    {% for group in groups %}
                        <a href="{% url 'set_active_group' group.id %}">
                            <i class="fa-solid fa-user-group"></i> {{ group.name }}
                        </a> <br>
                    {% endfor %}
                </div>
            </div>
            <div class="dailyplan grid">
                <h1><i class="fa-solid fa-calendar-check"></i> Daily Plan</h1>
                <p>Press the room you would like to clean to start timer</p>
                <ul class="dailyplan-list" id="dailyplan-list"></ul>
            </div>

            <div class="schematic grid" id="schematic">
                <h1><i class="fa-solid fa-map"></i> Your Floor</h1>
                <div class="schematic-list">
                    <select id="select" onchange="changeSchemInPage(this.value)">
                        {% for schem in schems %}
                            <option value="{{ schem.id }}">
                                <i class="fa-solid fa-layer-group"></i> {{ schem.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div id="container" style="background-color: white;"></div>
            </div>
        </div>
    </div>
    <div class="timer-wrapper" id="timer-wrapper" style="display: none;">
        <div class="timer-header">
            <h1><i class="fa-solid fa-stopwatch"></i> Timer</h1>
            <p>You are washing for room <span id="washing-room"></span> </p>
            <p>Estimated time is: <span id="estimated-time"></span> seconds</p>
            <div class="timer-container">
                <div class="timer-display">
                    <span id="timer">00:00:00</span>
                </div>
                <button id="timer-button" class="timer-button">Start</button>
            </div>
            <input type="hidden" id="zone_id_clicked">
            <div class="close-timer" onclick="document.getElementById('timer-wrapper').style.display = 'none'">x</div>
        </div>
    </div>
</main>


<script>
    let KonvaWidth = document.getElementById('schematic').offsetWidth - 40;
    let KonvaHeight = document.getElementById('schematic').offsetWidth - 40;
</script>

<script src="{% static 'js/home.js' %}"></script>

<script type="application/json" id="schematics-data">
    {{ schems_data|safe }}
</script>

<script>
    const schems = JSON.parse(document.getElementById('schematics-data').textContent);
    importSchematic(schems[0]);
</script>


{% endblock %}