{% extends 'main.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'styles/members.css' %}">
{% endblock %}

{% block content %}

<main class="content">
    <h1 class="header">Members of {{ group }}</h1>
    <div class="member-container">
        {% for member in members %}
            <div class="member">
                <div class="names">
                    <h2>{{ member.first_name }} {{ member.last_name }}</h2>
                    <p>{{ member.username }}</p>
                </div>
                <div class="messagebtn">
                    <a href=""><i class="fa-solid fa-message"></i></a>
                </div>
                {% if is_admin %}
                <div class="remove">
                    <form action="{% url 'remove_member' group.id member.id %}" id="{{ member.id }}" method="post">
                        {% csrf_token %}
                        <button type="button" class="remove-button" onclick="confirmRemove('{{ member.id }}')"><i class="fa-solid fa-user-xmark"></i></button>
                    </form>
                </div>
                <div class="give-admin-role">
                    {% if not member.is_admin %}
                        <form action="{% url 'change_admin_role' group.id member.id %}" id="admin-{{ member.id }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="admin-button give-admin-button" onclick="confirmChangeAdmin('admin-{{ member.id }}', 'add')"><i class="fa-solid fa-user-shield"></i></button>
                        </form>
                    {% else %}
                        <form action="{% url 'change_admin_role' group.id member.id %}" id="admin-{{ member.id }}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="admin-button remove-admin-button" onclick="confirmChangeAdmin('admin-{{ member.id }}', 'remove')"><i class="fa-solid fa-user-shield"></i></button>
                        </form>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</main>

<script src="{% static 'js/members.js' %}"></script>

{% endblock %}