
{% extends 'main.html' %}

{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/konva@8.3.13/konva.min.js"></script>

{% endblock %}

{% block content %}


<main class="content text-center">
  <h1 class="editor-title">
    <i class="fa-solid fa-pencil-ruler"></i> Floor Plan Editor
  </h1>
  <div id="schematic-name" class="schematic-name-container pageChange">
    <label for="schematic-name-input" class="schematic-label">Enter new name, or edit existing schematic by using the same name</label>
    <div class="input-button-container">
      <input 
        type="text" 
        id="schematic-name-input" 
        class="schematic-input" 
        placeholder="Enter schematic name" 
        required
      >
      <button 
        id="next-button" 
        class="next-button" 
        onclick="showSchematicEditor('schematic-editor')"
      >
        Next <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="schematic-editor" class="schematic-editor pageChange" style="display: none;">
    <div class="button-container">
      <button onclick="restartMaker()" class="restart button-top">Restart</button>
      <button onclick="showSchematicEditor('schematic-zone')" class="submit button-top">Next <i class="fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="maker-view">
      <div class="width-container">
        <p class="width-text">Width: <span id="width"></span>m</p>
        <p class="width-text">Height: <span id="height"></span>m</p>
      </div>
      <div id="container"></div>
      <div class="maker-buttons-container">
        <button onclick="toggleMakerButtons()" id="maker-menu-button">
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <div class="maker-buttons" id="maker-buttons">
            <button onclick="addWall()">
                <i class="fa-solid fa-border-all"></i> Add Wall
            </button>
            <button onclick="addDoor()">
                <i class="fa-solid fa-door-open"></i> Add Door
            </button>
            <button onclick="addZone()">
                <i class="fa-solid fa-vector-square"></i> Add Zone
            </button>
            <button onclick="clearCanvas()">
                <i class="fa-solid fa-trash"></i> Clear
            </button>
        </div>
    </div>
  </div>

  </div>
  <div class="schematic-zone pageChange" style="display: none;">
    <div class="button-container">
      <button onclick="showSchematicEditor('schematic-editor')" class="submit button-top"><i class="fa-solid fa-arrow-left"></i> back</button>
      <button onclick="sendSchematic()" class="send-submit button-top">Submit</button>
    </div>
    <h2>How many times a month should zones be washed</h2>
    <div id="zones"></div>
  </div>
</main>

<script src="{% static 'js/upload.js' %}"></script>

{% endblock %}