
{% extends 'main.html' %}

{% load static %}


{% block head %}
  <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/konva@8.3.13/konva.min.js"></script>

{% endblock %}

{% block content %}


<main class="content text-center">
  <h2>Floor Plan Editor</h2>
  <div id="schematic-name">
    <input type="text" id="schematic-name-input" placeholder="Enter schematic name" required>
    <input type="button" value="Neste" id="next-button" onclick="showSchematicEditor()">
  </div>
  <div id="schematic-editor" style="display: none;">
    <div class="button-container">
      <button onclick="addWall()">Add Wall</button>
      <button onclick="addDoor()">Add Door</button>
      <button onclick="addZone()">Legg til sone</button>
      <button onclick="clearCanvas()">Clear</button>
      <button onclick="importSchematic()">Import</button>
      <button onclick="sendSchematic()">Send</button>
      <p>Width: <span id="width"></span>m</p>
    </div>
    <div id="container"></div>
    <div id="output"></div>
  </div>
</main>

<script src="{% static 'js/upload.js' %}"></script>

{% endblock %}