
{% extends 'main.html' %}

{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'styles/upload.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/konva@8.3.13/konva.min.js"></script>
{% endblock %}

{% block content %}


<main class="content text-center">
    <h1>Floor Plan Viewer</h1>
    <h2>{{ name }}</h2>
    <div id="container"></div>
</main>


<script>
    let KonvaWidth = window.innerWidth * 0.8;
    let KonvaHeight = window.innerHeight * 0.8;
</script>

<script src="{% static 'js/home.js' %}"></script>

<script type="application/json" id="schematics-data">
    {{ schems_data|safe }}
</script>

<script>
    const schems = JSON.parse(document.getElementById('schematics-data').textContent);
    importSchematic(schems[0]);
</script>


{% endblock %}